.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  animation: App-traslate 2s linear;
  height: 40vmin;
}

.App-header {
  background-color: #1658dd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-traslate{
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(200px, 200px) ;
  }

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}
